$cor-menu:              #7f2628;
$cor-menu-selecionado:  #b45153;
$cor-sub-menu:          #4d1719;
$cor-fundo:             #f3f3f4;
$branco:                #ffffff;
$mensagem-erro:         #dd4b39;
$mensagem-sucesso:      #00A65A;
