$cor-menu:              #7f2628;
$cor-menu-selecionado:  #b45153;
$cor-sub-menu:          #4d1719;
$cor-fundo:             #f3f3f4;
$cor-header:            #757575;
$branco:                #ffffff;
$mensagem-erro:         #dd4b39;
$mensagem-sucesso:      #00A65A;
$erro:                  #dd4b39;
$erro-focus:            #eb5e4c;
$erro-disabled:         #dd4b39a1;
$sucesso:               #00A65A;
$primary:               #007fff;
$warn:                  #f5aa1a;
$danger:                #D9534F;
$titles:                #505050;
$badge-primary:         #45b5df;
$badge-primary-light:   #69c3e4;
$badge-warn:            #f5aa1a;
$badge-warn-light:      #fac052;
$badge-success:         #57c285;
$badge-success-light:   #78cd9c;
$badge-error:           #D9534F;
$badge-error-light:     #EC7E7B;
