@mixin borda_bottom_p($cor) {
  border-bottom: 1px solid $cor;
}

@mixin borda_top_p($cor) {
  border-top: 1px solid $cor;
}

@mixin button-header() {
  display: block;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  padding: 10px 30px;
  width: 190px;
  height: 36px;
  margin-top: 5px;
  margin-right: 9px;
  cursor: pointer;
  transition: all 0.2s linear;
}

@mixin input-padding-right() {
  padding: 0 5px 5px 0;
}

@mixin input-padding-left() {
  padding: 0 0 5px 5px;
}

@mixin input-padding-both() {
  padding: 0 5px 5px 5px;
}

/*
* === BORDER ===
*/

@mixin reset-round-border() {
  border-radius: 0;
}

@mixin round-border($top-left: 0, $top-right: 0, $bottom-left: 0, $bottom-right: 0) {
  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-left-radius: $bottom-left;
  border-bottom-right-radius: $bottom-right;
}

/*
* === PADDING ===
*/

@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding: $top $right $bottom $left;
}

@mixin padding-all($value) {
  padding: #{$value}px #{$value}px #{$value}px #{$value}px;
}

@mixin padding-top-left($top, $left) {
  padding-top: #{$top}px;
  padding-left: #{$left}px;
}

@mixin padding-top-bottom($top, $bottom) {
  padding-top: #{$top}px;
  padding-bottom: #{$bottom}px;
}

@mixin padding-sides($left, $right) {
  @include padding-left($left);
  @include padding-right($right);
}

@mixin padding-bottom($bottom) {
  padding-bottom: #{$bottom}px;
}

@mixin padding-left($left) {
  padding-left: #{$left}px;
}

@mixin padding-right($right) {
  padding-right: #{$right}px;
}
