.body{
  margin-top: 200px;
}

.content {
  background-color: #ffffff;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #bdbdbd;
}

.header {
  color: #757575;
  border-bottom: solid 2px #f3f3f4;
}

.header h1 {
  padding: 5px 15px;
  margin: 0;
}

.form {
  margin: 0 auto;
  margin: 40px 50px 0 50px;
  height: 200px;
}

label {
  font-size: 18px;
  font-weight: bold;
  color: #686b6d;
  margin: 0 0 10px 0;
  display: block;
}

input {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 8px;
  display: inline-block;
  outline: none;
  transition: all 0.1s linear;
  width: 270px;
}

.input-erro{
  transition: all 0.2s linear;
  border: solid 1px rgba(255, 0, 0, 0.61);
}
input:focus {
  border: solid 1px rgba(40, 145, 243, 0.678);
  box-shadow: 1px 1px 2px #33333380;
}

input:hover {
  box-shadow: 1px 1px 2px #33333349;
}

.botoes a, .botoes button {
  text-decoration: none;
  display: inline-block;
  margin-top: 40px;
  border-radius: 2px;
  text-align: center;
}

.botao-cancelar {
  padding: 8px 16px;
  border: solid 1px #cccccc;
  color: #757575;
  font-size: 14px;
  margin-right: 10px;
}

.botao-salvar {
  color: #ffffff;
  background-color: #28a745;
  font-size: 14px;
  margin-left: 10px;
  padding: 9px 26px;
  border: none;
  cursor: pointer;
}

.botao-cancelar:hover,
.botao-salvar:hover {
  box-shadow: 1px 1px 2px #33333349;
}

.botao-cancelar:active,
.botao-salvar:active {
  box-shadow: 1px 1px 10px #33333349;
}

.botao-salvar:hover {
  background-color: #218838;
}

.botao-salvar:disabled{
  background-color: #a6ceaf;
  cursor: default;
  box-shadow: 0 0 0 #33333349;
}

.mensagem-erro{
  display: inline-block;
  color: rgba(255, 0, 0, 0.61);
  font-weight: bold;
  font-size: 12px;
  margin-left: 5px;
}

.mensagem-erro fa-icon{
  font-size: 15px;
}



