<div class="body">
  <form [formGroup]="formGroup" (ngSubmit)="salvar(); $event.preventDefault()">
    <div class="content">
      <div class="header">
        <h1>Nova categoria de despesa</h1>
      </div>
      <div class="form">
        <label for="categoria-id">Nome</label>
        <input type="text" formControlName="nome" id="categoria-id" required [ngClass]="formularioInvalido() && formGroup.get('nome').dirty ? 'input-erro' : ''" />

        <div class="mensagem-erro" *ngIf="formGroup.get('nome').dirty && formGroup.get('nome').hasError('required')">
          <fa-icon [icon]="['fas', 'exclamation']" size="xs" [fixedWidth]="true"></fa-icon>
          O nome da categoria é obrigatório.
        </div>

        <div class="mensagem-erro" *ngIf="formGroup.get('nome').dirty && formGroup.get('nome').hasError('minlength')">
          <fa-icon [icon]="['fas', 'exclamation']" size="xs" [fixedWidth]="true"></fa-icon>
          O nome deve ter pelo menos 3 caracteres.
        </div>

        <div class="botoes">
          <a href="#" class="botao-cancelar">Cancelar</a>
          <button type="submit" class="botao-salvar" [disabled]='formGroup.invalid'>Salvar</button>
        </div>
      </div>
    </div>
  </form>

</div>
