@import "../../../assets/scss/cores";

.ui-dialog-title {
  color: #666666;
  font-weight: bold;
}

.botao-adicionar:hover {
  background-color: #007fff;
  border: solid 1px #0275d8;
  color: #ffffff;
}

.col-operacoes-header {
  width: 156px;
}

@media screen and (min-width: 56.25em) {

  .botao-adicionar {
    border-radius: 4px;
    border: solid 1px #007fff;
    color: #007fff;
    background-color: transparent;
    font-size: 14px;
    text-align: center;
    padding: 10px 30px;
    width: 190px;
    height: 36px;
    margin-top: 5px;
    margin-right: 9px;
    cursor: pointer;
    transition: all 0.2s linear;
  }
}
