<div class="content">
  <div class="header">
    <h1 class="header__titulo">Procedimentos</h1>
    <button type="button" class="header__botao-add header__botao-add--float" (click)="criarProcedimento()">
      <i class="fas fa-plus"></i>
    </button>
    <button id="add-procedimento" type="button" class="header__botao-add header__botao-add--header"
      (click)="criarProcedimento()">
      Adicionar Procedimento
    </button>
  </div>

  <!-- TODO: Implementar filtro (aguardando do backend) -->
  <form novalidate class="filtro" (ngSubmit)="filtrar()" >
    <div class="filtro__group">
      <label class="filtro__group__label" id="nome-procedimento-label" for="nome-procedimento">Pesquisar pelo
        nome</label>
      <div class="filtro__group__search">
        <input class="filtro__group__search__input" id="nome-procedimento" type="text" />
        <button class="filtro__group__search__button" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="procedimentos" #tabela responsive="true" [paginator]="true" [rows]="20">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Valor base</th>
            <th>Descrição</th>
            <th>Duração média</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-procedimento>
          <tr>
            <td>
              <span class="ui-column-title">Nome</span>
              {{procedimento.nome}}
            </td>
            <td>
              <span class="ui-column-title">Valor base</span>
              {{procedimento.valorBase | currency: 'BRL' : 'symbol'}}
            </td>
            <td>
              <span class="ui-column-title">Descrição</span>
              {{procedimento.descricao}}
            </td>
            <td>
              <span class="ui-column-title">Duração média</span>
              {{procedimento.duracaoMinutos}} min.
            </td>
            <td>
              <div class="operacoes">
                <button type="button" class="operacoes__button operacoes__button--edit" pTooltip="Editar"
                  tooltipPosition="top">
                  <fa-icon [icon]="['fas', 'edit']" size="lg" [fixedWidth]="true"></fa-icon>
                </button>
                <button type="button" class="operacoes__button operacoes__button--delete"
                  (click)="confirmarExclusao(procedimento)" pTooltip="Excluir" tooltipPosition="top">
                  <fa-icon [icon]="['fas', 'trash']" size="lg" [fixedWidth]="true"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">
                Nenhum Procedimento encontrado!<br />
                <!-- TODO: LINK -->
                Clique AQUI para cadastrar.
              </td>
            </tr>
          </ng-template>
      </p-table>
    </div>
  </div>
</div>
