.box {
  margin: 0 auto;
  background: #ffffff;
  font-family: "open sans";
  font-size: 0.85em;
  line-height: 1.6em;
  border-radius: 5px;
  width: 150px;
  height: auto;
  color: #fff;
  padding: 6px;
  position: relative;
  margin-top: 12px;
  border: 2px #dddddd solid;

  &__close {
    border-radius: 50%;
    color: #888888;
    position: absolute;
    top: -6px;
    right: -6px;
    cursor: pointer;
    background-color: #fff;
  }

  &__menu {
    border: 1px solid #888888;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    border-bottom: none;

    &__group {
      border-bottom: 1px solid #888888;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      color: #007ad9;
      padding: 4px 10px;
      cursor: pointer;
      transition: background-color 0.2s ease-in;
      &:hover {
        background-color: #e9e9e9;
      }
      &__icon {
        padding-right: 10px;
      }
    }
  }
}

.box:after {
  /*Triangulo*/
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  /*Faz seta "apontar para baixo. Definir o valor como 'top' fará ela "apontar para cima" */
  /*Aqui entra a cor da "aba" do balão */
  border-bottom: 10px solid #dddddd;
  top: -10px; /*localização. Experimente alterar para 'bottom'*/
  left: 20%;
}
.menu-esconder {
  opacity: 0;
  z-index: -1;
  height: 0;
  transform: translateX(-414px);
  visibility: hidden;
}
