<div class="grid-consultas">
  <h1 class="grid-consultas__title">Consultas de hoje</h1>

  <div class="badge-grid">
    <app-badge title="Consultas Marcadas" icon="fa-calendar-day" value="20" styleFor="total"></app-badge>

    <app-badge title="Realizadas" icon="fa-calendar-check" value="6" styleFor="success"></app-badge>

    <app-badge title="Pendentes" icon="fa-calendar-alt" value="10" styleFor="waiting"></app-badge>

    <app-badge title="Canceladas" icon="fa-calendar-times" value="4" styleFor="cancel"></app-badge>
  </div>

  <div class="grid-consultas__dados">
    <div class="grid-consultas__dados__data">
      <div class="grid-consultas__dados__data__numero">
        17
      </div>
      <div class="grid-consultas__dados__data__group">
        <div class="grid-consultas__dados__data__group__dia">Segunda-feira</div>
        <div class="grid-consultas__dados__data__group__mes">Maio 2019</div>
      </div>
    </div>

    <div class="scroll">
      <div class="grid-consultas__dados__row">
        <div class="grid-consultas__dados__row__left grid-consultas__dados__row__left--success"></div>
        <div class="grid-consultas__dados__row__right">
          <div>
            <h3 class="grid-consultas__dados__row__right__name">Ana Maria da Silva Rodrigues</h3>
            <div class="grid-consultas__dados__row__right__procedimento">Restauração</div>
          </div>
          <div class="grid-consultas__dados__row__right__arrow">
            <i class="fas fa-clock"></i>
          </div>
          <div class="grid-consultas__dados__row__right__hora">
            <div class="grid-consultas__dados__row__right__hora__label">Hora</div>
            <div class="grid-consultas__dados__row__right__hora__value">10:00</div>
          </div>
          <div class="grid-consultas__dados__row__right__option">
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>
      <div class="grid-consultas__dados__row">
        <div class="grid-consultas__dados__row__left grid-consultas__dados__row__left--warn"></div>
        <div class="grid-consultas__dados__row__right">
          <div>
            <h3 class="grid-consultas__dados__row__right__name">Anderson Tavares de Oliveira</h3>
            <div class="grid-consultas__dados__row__right__procedimento">Clareamento</div>
          </div>
          <div class="grid-consultas__dados__row__right__arrow">
            <i class="fas fa-clock"></i>
          </div>
          <div class="grid-consultas__dados__row__right__hora">
            <div class="grid-consultas__dados__row__right__hora__label">Hora</div>
            <div class="grid-consultas__dados__row__right__hora__value">12:00</div>
          </div>
          <div class="grid-consultas__dados__row__right__option">
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>
      <div class="grid-consultas__dados__row">
        <div class="grid-consultas__dados__row__left grid-consultas__dados__row__left--danger"></div>
        <div class="grid-consultas__dados__row__right">
          <div>
            <h3 class="grid-consultas__dados__row__right__name">Renata Moreira Costa</h3>
            <div class="grid-consultas__dados__row__right__procedimento">Raspagem</div>
          </div>
          <div class="grid-consultas__dados__row__right__arrow">
            <i class="fas fa-clock"></i>
          </div>
          <div class="grid-consultas__dados__row__right__hora">
            <div class="grid-consultas__dados__row__right__hora__label">Hora</div>
            <div class="grid-consultas__dados__row__right__hora__value">13:00</div>
          </div>
          <div class="grid-consultas__dados__row__right__option">
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>
      <div class="grid-consultas__dados__row">
        <div class="grid-consultas__dados__row__left grid-consultas__dados__row__left--success"></div>
        <div class="grid-consultas__dados__row__right">
          <div>
            <h3 class="grid-consultas__dados__row__right__name">Ana Maria da Silva Rodrigues</h3>
            <div class="grid-consultas__dados__row__right__procedimento">Restauração</div>
          </div>
          <div class="grid-consultas__dados__row__right__arrow">
            <i class="fas fa-clock"></i>
          </div>
          <div class="grid-consultas__dados__row__right__hora">
            <div class="grid-consultas__dados__row__right__hora__label">Hora</div>
            <div class="grid-consultas__dados__row__right__hora__value">10:00</div>
          </div>
          <div class="grid-consultas__dados__row__right__option">
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>
      <div class="grid-consultas__dados__row">
        <div class="grid-consultas__dados__row__left grid-consultas__dados__row__left--success"></div>
        <div class="grid-consultas__dados__row__right">
          <div>
            <h3 class="grid-consultas__dados__row__right__name">Ana Maria da Silva Rodrigues</h3>
            <div class="grid-consultas__dados__row__right__procedimento">Restauração</div>
          </div>
          <div class="grid-consultas__dados__row__right__arrow">
            <i class="fas fa-clock"></i>
          </div>
          <div class="grid-consultas__dados__row__right__hora">
            <div class="grid-consultas__dados__row__right__hora__label">Hora</div>
            <div class="grid-consultas__dados__row__right__hora__value">10:00</div>
          </div>
          <div class="grid-consultas__dados__row__right__option">
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-consultas__details">
    <div class="grid-consultas__details__header">
      Ficha do paciente
      <i class="fas fa-external-link-alt grid-consultas__details__header__link"></i>
    </div>
    <div class="grid-consultas__details__image" [ngStyle]="imagem"></div>

    <div class="grid-consultas__details__dados">
      <small>#205</small>
    </div>

    <div
      class="grid-consultas__details__dados grid-consultas__details__dados--main grid-consultas__details__dados--female">
      Ana Maria da Silva Rodrigues <i class="fas fa-venus"></i>
    </div>

    <div class="grid-consultas__details__dados">
      27 Anos
    </div>
    <div class="grid-consultas__details__dados">
      (83)98587-9878
    </div>

    <div class="grid-consultas__details__header grid-consultas__details__header--mid">
      Procedimento
    </div>
    <div class="grid-consultas__details__dados grid-consultas__details__dados--toleft">
      <i class="fas fa-stethoscope"></i> Restauração
    </div>
    <div class="grid-consultas__details__dados grid-consultas__details__dados--toleft">
      <i class="fas fa-tooth"></i> 18 MV
    </div>
  </div>
</div>

<div class="grid">
  <h1 class="grid__title">Fluxo de caixa</h1>

  <div class="badge-grid">
    <app-badge title="Receitas" icon="fa-level-down-alt" value="500" styleFor="success" [monetary]="true"></app-badge>

    <app-badge title="Despesas" icon="fa-level-up-alt" value="200" styleFor="cancel" [monetary]="true"></app-badge>

    <app-badge title="Saldo" icon="fa-cash-register" value="300" styleFor="total" [monetary]="true"></app-badge>
  </div>
</div>






<!--

  <div class="consultas">
    <h1 class="consultas__header">Consultas de hoje</h1>
    <table class="consultas__table">
      <thead>
        <tr class="consultas__table__header">
          <th class="consultas__table__header__head">Status</th>
          <th class="consultas__table__header__head">Hora</th>
          <th class="consultas__table__header__head">Paciente</th>
          <th class="consultas__table__header__head">Telefone</th>
          <th class="consultas__table__header__head">Procedimento</th>
        </tr>
      </thead>

      <tbody>
        <tr class="consultas__table__body">
          <td class="consultas__table__body__data consultas__table__body__data--center">CONFIRMADO</td>
          <td class="consultas__table__body__data consultas__table__body__data--center">CONFIRMADO</td>
          <td class="consultas__table__body__data">CONFIRMADO</td>
          <td class="consultas__table__body__data">CONFIRMADO</td>
          <td class="consultas__table__body__data">CONFIRMADO</td>
        </tr>
      </tbody>
    </table>
  </div>

 -->
