@import "../../../assets/scss/cores";
@import "../../../assets/scss/mixins";

.top {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 6em;
  grid-gap: 20px;
}
