@import "../../../assets/scss/cores";
@import "../../../assets/scss/mixins";

.top {
  grid-area: badges;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 6em;
  grid-gap: 20px;
}

.grid-consultas {
  margin: 10px;
  display: grid;
  grid-template-areas:
    "titulo titulo"
    "badges badges"
    "dados dados"
    "detalhe detalhe";
  grid-gap: 0;

  &__title {
    grid-area: titulo;
    color: $titles;
    @include padding-bottom(5);
    border-bottom: 1px solid darken($cor-fundo, 15%);
  }
}

.d1 {
  background-color: rgb(60, 255, 0);
  grid-area: dados;
}

.d2 {
  background-color: rgb(98, 0, 255);
  grid-area: detalhe;
}

.consultas {
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #bdbdbd;
  background-color: $branco;
  margin: 10px;

  &__header {
    color: $cor-header;
    @include padding-top-left(5, 10);
    border-bottom: 2px solid lighten($cor-header, 40%);
  }

  &__table {
    color: #333333;
    width: 100%;
    border-spacing: 0;
    &__header {
      letter-spacing: 0.05em;
      background-color: lighten($cor-header, 45%);
      &__head {
        border-bottom: 2px solid darken($cor-header, 5%);
        padding: 10px 15px 5px 15px;
        border-spacing: 0px;
        font: 100%/1.4 "Roboto", sans-serif;
        font-weight: bold;
      }
    }

    tbody tr:nth-child(even) {
      background-color: lighten($cor-header, 50%);
      &:hover {
        background-color: lighten($cor-header, 40%);
        cursor: pointer;
      }
    }
    tbody tr:nth-child(odd) {
      background-color: $branco;
      &:hover {
        background-color: lighten($cor-header, 40%);
        cursor: pointer;
      }
    }

    &__body {
      transition: all 0.5s ease-in-out;

      &__data {
        padding: 10px 15px 10px 15px;
        border-bottom: 1px solid #cbd2d8;
        &--center {
          text-align: center;
        }
        &--left {
          text-align: left;
        }
        &--right {
          text-align: right;
        }
      }
    }
  }
}

@media screen and (min-width: 56.25em) {
  .grid-consultas {
    margin: 10px;
    display: grid;
    grid-template-areas:
      "titulo titulo titulo"
      "badges badges badges"
      "dados dados detalhe";
    grid-gap: 10px 0;

    &__dados {
      box-shadow: 1px 1px 2px 1px #bdbdbd;
      grid-area: dados;
      @include round-border($top-left: 10px, $bottom-left: 10px);
      background-color: $branco;
      &__data {
        color: $titles;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid darken($cor-fundo, 15%);
        margin: 0 15px;
        &__numero {
          font-size: 2.5em;
          padding: 5px;
        }

        &__group {
          display: flex;
          flex-direction: column;
          justify-content: center;

          &__dia {
            font-size: 0.9em;
          }
          &__mes {
            font-size: 0.9em;
            font-weight: bold;
            color: $cor-menu;
          }
        }
      }

      &__row {
        display: grid;
        margin: 10px 15px;
        grid-template-columns: 7px auto;
        grid-template-rows: auto;
        &__left {
          @include round-border($top-left: 10px, $bottom-left: 10px);
          &--success {
            background-color: $badge-success;
          }
          &--warn {
            background-color: $badge-warn;
          }
          &--danger {
            background-color: $badge-error;
          }
        }

        &__right {
          transition: all 0.5s ease-in-out;
          display: flex;
          justify-content: space-between;
          @include round-border($top-right: 10px, $bottom-right: 10px);
          background-color: lighten($cor-fundo, 1%);
          color: $titles;
          &__name {
            width: 360px;
            font-size: 1.2em;
            @include padding-all(10px);
          }

          &__procedimento {
            width: 360px;
            font-size: 1em;
            font-weight: bold;
            @include padding(0, 0, 10px, 10px);
          }

          &__arrow {
            font-size: 1.5em;
            line-height: 78px;
            @include padding(0, 8px, 0, 8px);
          }

          &__hora {
            @include padding-all(12px);
            &__label {
              text-align: center;
              font-weight: bold;
              width: 100%;
            }
            &__value {
              font-size: 1.1em;

              @include padding(10px, 0, 0, 0);
            }
          }

          &__option {
            font-size: 1.2em;
            line-height: 78px;
            color: rgb(41, 98, 255);
            @include padding-right(15);

            i {
              cursor: pointer;
            }
          }
        }
      }
    }

    &__details {
      grid-area: detalhe;
      box-shadow: 1px 1px 2px 1px #bdbdbd;
      @include round-border($top-right: 10px, $bottom-right: 10px);
      background-color: darken($branco, 1%);

      &__header {
        color: $cor-menu;
        font-weight: bold;
        height: 67px;
        line-height: 67px;
        border-bottom: 1px solid darken($cor-fundo, 15%);
        margin: 0 15px;
        padding: 5px;
        position: relative;
        &__link {
          position: absolute;
          right: 0;
          top: 31px;
          color: rgb(41, 98, 255);
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: darken(rgb(41, 98, 255), 20%);
          }
        }

        &--mid {
          height: 40px;
          line-height: 40px;
          margin-bottom: 10px;
        }
      }

      &__image {
        text-align: center;
        margin: 10px auto;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 3px solid #eeeeee;
        box-shadow: inset 0 0 10px #8a8a8a;
        align-self: center;
      }

      &__dados {
        color: $titles;
        text-align: center;
        &--main {
          font-size: 1.2em;
        }
        &--toleft {
          text-align: left;
          margin: 0 20px;
          padding: 0 10px;

          &:last-child {
            @include padding-bottom(15);
          }
        }

        &--male {
          i {
            color: rgb(8, 66, 255);
          }
        }

        &--female {
          i {
            color: rgb(255, 8, 193);
          }
        }
      }
    }
  }
  .scroll {
    overflow: auto;
    height: 380px;
  }

  .scroll::-webkit-scrollbar {
    width: 10px;
  }

  .scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  .scroll::-webkit-scrollbar-thumb {
    background: $cor-menu;
    border-radius: 10px;
  }

  .scroll::-webkit-scrollbar-thumb:hover {
    background: darken($cor-menu, 10%);
  }
}
