@import "../../../assets/scss/tools/placeholders";

.ui-inputtext {
  width: 70%;
}

.i-container {
  display: flex;
  flex-direction: column;
  position: relative;
  &__legend {
    border-bottom: 2px solid #cccccc;
    margin: 15px 0;
    &__title {
      color: #888888;
      font-weight: bold;
      font-size: x-large;
    }
  }
  &__label {
    @extend %label;
    padding-bottom: 3px;
    align-self: baseline;
    font-weight: bold;
    &__hint{
      @extend %hint;
      display: inline-block;
    }
  }

  &__input {
    @extend %input;
    margin-bottom: 20px;
    &--error {
      border-color: $erro;
    }
  }
  &__message {
    position: absolute;
    bottom: 0;
    margin-left: 3px;
    &--success {
      color: $mensagem-sucesso;
    }
    &--error {
      color: $erro;
    }
  }
}
@media screen and (min-width: 56.25em) {
  .ui-inputtext {
    width: 100%;
  }
}
