@import "../../../assets/scss/tools/placeholders";

.ui-inputtext {
  width: 70%;
}

.i-container {
  display: flex;
  flex-direction: column;
  position: relative;
  &__label {
    @extend %label;
    padding-bottom: 3px;
    align-self: baseline;
    font-weight: bold;
  }
  &__input {
    @extend %input;
    margin-bottom: 20px;
    &--error {
      border-color: $erro;
    }
  }
  &__message {
    position: absolute;
    bottom: 0;
    margin-left: 3px;
    &--success {
      color: $mensagem-sucesso;
    }
    &--error {
      color: $erro;
    }
  }
}
@media screen and (min-width: 56.25em) {
  .ui-inputtext {
    width: 100%;
  }
}
