<header>
  <h1>Testando a exibição e captura de valores do odontograma.</h1>
</header>

<div class="content">
  <label for="dente">Dente</label>
  <br />
  <input id="dente" type="text" [value]="dente" (click)="mostrarDentes()" [disabled]="true">
  <button (click)="mostrarDentes()">{{mostrar ? '+' : '-'}}</button>

  <div [hidden]="mostrar" class="odontograma">
    <div class="grid-container">
      <div class="dente" (click)="esconderDentes(18)">
        <img src="../../assets/images/dentes/18.png" alt="">
        <p>18</p>
      </div>
      <div class="dente" (click)="esconderDentes(17)">
        <img src="../../assets/images/dentes/17.png" alt="">
        <p>17</p>
      </div>
      <div class="dente" (click)="esconderDentes(16)">
        <img src="../../assets/images/dentes/16.png" alt="">
        <p>16</p>
      </div>
      <div class="dente" (click)="esconderDentes(15)">
        <img src="../../assets/images/dentes/15.png" alt="">
        <p>15</p>
      </div>
      <div class="dente" (click)="esconderDentes(14)">
        <img src="../../assets/images/dentes/14.png" alt="">
        <p>14</p>
      </div>
      <div class="dente" (click)="esconderDentes(13)">
        <img src="../../assets/images/dentes/13.png" alt="">
        <p>13</p>
      </div>
      <div class="dente" (click)="esconderDentes(12)">
        <img src="../../assets/images/dentes/12.png" alt="">
        <p>12</p>
      </div>
      <div class="dente" (click)="esconderDentes(11)">
        <img src="../../assets/images/dentes/11.png" alt="">
        <p>11</p>
      </div>
      <div class="dente" (click)="esconderDentes(21)">
        <img src="../../assets/images/dentes/21.png" alt="">
        <p>21</p>
      </div>
      <div class="dente" (click)="esconderDentes(22)">
        <img src="../../assets/images/dentes/22.png" alt="">
        <p>22</p>
      </div>
      <div class="dente" (click)="esconderDentes(23)">
        <img src="../../assets/images/dentes/23.png" alt="">
        <p>23</p>
      </div>
      <div class="dente" (click)="esconderDentes(24)">
        <img src="../../assets/images/dentes/24.png" alt="">
        <p>24</p>
      </div>
      <div class="dente" (click)="esconderDentes(25)">
        <img src="../../assets/images/dentes/25.png" alt="">
        <p>25</p>
      </div>
      <div class="dente" (click)="esconderDentes(26)">
        <img src="../../assets/images/dentes/26.png" alt="">
        <p>26</p>
      </div>
      <div class="dente" (click)="esconderDentes(27)">
        <img src="../../assets/images/dentes/27.png" alt="">
        <p>27</p>
      </div>
      <div class="dente" (click)="esconderDentes(28)">
        <img src="../../assets/images/dentes/28.png" alt="">
        <p>28</p>
      </div>
      <div class="dente" (click)="esconderDentes(48)">
        <p>48</p>
        <img src="../../assets/images/dentes/48.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(47)">
        <p>47</p>
        <img src="../../assets/images/dentes/47.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(46)">
        <p>46</p>
        <img src="../../assets/images/dentes/46.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(45)">
        <p>45</p>
        <img src="../../assets/images/dentes/45.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(44)">
        <p>44</p>
        <img src="../../assets/images/dentes/44.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(43)">
        <p>43</p>
        <img src="../../assets/images/dentes/43.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(42)">
        <p>42</p>
        <img src="../../assets/images/dentes/42.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(41)">
        <p>41</p>
        <img src="../../assets/images/dentes/41.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(31)">
        <p>31</p>
        <img src="../../assets/images/dentes/31.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(32)">
        <p>32</p>
        <img src="../../assets/images/dentes/32.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(33)">
        <p>33</p>
        <img src="../../assets/images/dentes/33.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(34)">
        <p>34</p>
        <img src="../../assets/images/dentes/34.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(35)">
        <p>35</p>
        <img src="../../assets/images/dentes/35.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(36)">
        <p>36</p>
        <img src="../../assets/images/dentes/36.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(37)">
        <p>37</p>
        <img src="../../assets/images/dentes/37.png" alt="">
      </div>
      <div class="dente" (click)="esconderDentes(38)">
        <p>38</p>
        <img src="../../assets/images/dentes/38.png" alt="">
      </div>
    </div>

  </div>

  <div [hidden]="!temDente() || !mostrar">
    <h2>Dente selecionado para o tratamento: <br /> <span> {{dente}}</span></h2>
  </div>
</div>
