<nav>

  <div class="container">
    <div class="logo"></div>

    <div class="barra-menu">
      <div id="menu-bar" class="botao-menu" (click)="isOpen = !isOpen">
        <i class="fas fa-bars"></i>
      </div>
      <div class="botao-menu " (click)="isOpen = !isOpen && abrirMenuExtendido(pacientes)" pTooltip="Pacientes">
        <i class="fas fa-user-friends"></i>
      </div>
      <div class="botao-menu " (click)="isOpen = !isOpen && abrirMenuExtendido(financas)" pTooltip="Finanças">
        <i class="fas fa-dollar-sign"></i>
      </div>
      <div class="botao-menu " (click)="isOpen = !isOpen && abrirMenuExtendido(materiais)" pTooltip="Materiais">
        <i class="fas fa-toolbox"></i>
      </div>
      <div class="botao-menu " (click)="isOpen = !isOpen && abrirMenuExtendido(configuracoes)" pTooltip="Configurações">
        <i class="fas fa-cog"></i>
      </div>
      <div class="botao-menu" pTooltip="Sair">
        <i class="fas fa-sign-out-alt"></i>
      </div>
    </div>

    <ul class="menu" id="menu" [ngClass]="{'menu-esconder' : !isOpen}">
      <li>
        <div class="logo-menu-extendido">
          <div class="botao-menu-extendido">
            <i class="fas fa-bars" (click)="isOpen = !isOpen"></i>
          </div>
        </div>
      </li>

      <li class="drop-down-menu">
        <input type="checkbox" class="ativar" id="pacientes" name="pacientes" #pacientes>
        <label id="label-pacientes" for="pacientes" class="item-titulo top-menu">
          <i class="fas fa-user-friends icon-esq"></i>
          <div class="label-titulo">Pacientes</div> <i id='arrow' class="fas fa-angle-right icon-dir"></i>
        </label>

        <ul class="drop-down">
          <li class="item-submenu" (click)="isOpen = !isOpen">
            <a id="item-paciente" [routerLink]="['/pacientes']" [routerLinkActiveOptions]="{exact: true}"
              routerLinkActive="active">Pesquisar</a>
          </li>
        </ul>
        <ul class="drop-down">
          <li class="last item-submenu" (click)="isOpen = !isOpen">
            <a id="item-paciente-cadastro" [routerLink]="['/pacientes/novo']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">Cadastrar</a>
          </li>
        </ul>
      </li>

      <li class="drop-down-menu">
        <input type="checkbox" class="ativar" id="financas" name="financas" #financas>
        <label id="label-financas" for="financas" class="item-titulo top-menu">
          <i class="fas fa-dollar-sign icon-esq"></i>
          <div class="label-titulo">Finanças</div> <i id='arrow' class="fas fa-angle-right icon-dir"></i>
        </label>

        <ul class="drop-down">
          <!-- TODO: Implementar na iteração de pagamentos

          <li class="item-submenu">
            <a href="#">Recebimentos</a>
          </li>
           -->

          <li class="last item-submenu" (click)="isOpen = !isOpen">
            <a id="item-despesa" [routerLink]="['/despesas']" routerLinkActive="active">Despesas</a>
          </li>
        </ul>
      </li>

      <li class="drop-down-menu">
        <input type="checkbox" class="ativar" id="materiais" name="materiais" #materiais>
        <label id="label-materiais" for="materiais" class="item-titulo top-menu">
          <i class="fas fa-toolbox icon-esq"></i>
          <div class="label-titulo">Materiais</div> <i id='arrow' class="fas fa-angle-right icon-dir"></i>
        </label>

        <ul class="drop-down">
          <li class="last item-submenu" (click)="isOpen = !isOpen">
            <a id="item-despesa" [routerLink]="['/materiais']" routerLinkActive="active">Catálogo</a>
          </li>
        </ul>
      </li>

      <li class="drop-down-menu">
        <input type="checkbox" class="ativar" id="configuracoes" name="configuracoes" #configuracoes>
        <label id="label-configuracoes" for="configuracoes" class="item-titulo top-menu">
          <i class="fas fa-cog icon-esq"></i>
          <div class="label-titulo">Configurações</div> <i id='arrow' class="fas fa-angle-right icon-dir"></i>
        </label>

        <ul class="drop-down">
          <li class="item-submenu" (click)="isOpen = !isOpen">
            <a id="procetimentos" routerLinkActive="active" [routerLink]="['/procedimentos']">Procedimentos</a>
          </li>
        </ul>

        <ul class="drop-down">
          <li class="last item-submenu" (click)="isOpen = !isOpen">
            <a id="categorias-despesa" routerLinkActive="active" [routerLink]="['/categorias-despesa']">Categorias de
              Despesas</a>
          </li>
        </ul>

      </li>

      <li class="drop-down-menu">
        <label class="item-titulo top-menu">
          <i class="fas fa-sign-out-alt icon-esq"></i>
          <div class="label-titulo">Sair</div>
        </label>
      </li>
    </ul>
  </div>
</nav>
