<div class="content">
  <div class="header">
    <h1 class="header__titulo">Despesas</h1>
    <button type="button" class="header__botao-add header__botao-add--float" (click)="criarDespesa()">
      <i class="fas fa-plus"></i>
    </button>
    <button id="add-despesa" type="button" class="header__botao-add header__botao-add--header"
      (click)="criarDespesa()">
      Adicionar Despesa
    </button>
  </div>

  <div class="fieldset">
    <p-fieldset legend="Filtro" [toggleable]="isMobile()" [collapsed]="isMobile()">
        <form class="filtro">
          <div class="filtro__group">
            <label class="filtro__group__label">Categoria</label>
            <p-dropdown class="filtro__group__dropdown" [options]="categorias" placeholder="Selecione"
              [filter]="!isMobile()" name="categoria" emptyFilterMessage="Categoria não encontrada!"
              [style]="{'width': '100%'}"></p-dropdown>
          </div>
          <div class="filtro__group">
            <label class="filtro__group__label" for="descricao">Descrição</label>
            <input class="filtro__group__input" type="text" id="descricao">
          </div>
          <div class="filtro__group">
            <label class="filtro__group__label" for="inicio">Data inicial (De)</label>
            <p-calendar class="filtro__group__calendar" [showIcon]="isMobile()" [touchUI]="isMobile()"
              [baseZIndex]="100" [readonlyInput]="isMobile()" [style]="{'width': '70%'}" inputId="inicio"
              dateFormat="dd/mm/yy" [locale]="pt_BR" [monthNavigator]="true" [yearNavigator]="true"
              yearRange="2017:2027">
            </p-calendar>
          </div>
          <div class="filtro__group">
            <label class="filtro__group__label" for="fim">Data final (Até)</label>
            <p-calendar class="filtro__group__calendar" [showIcon]="isMobile()" [touchUI]="isMobile()"
              [baseZIndex]="100" [readonlyInput]="isMobile()" [style]="{'width': '70%'}" inputId="fim"
              dateFormat="dd/mm/yy" [locale]="pt_BR" [monthNavigator]="true" [yearNavigator]="true"
              yearRange="2017:2027">
            </p-calendar>
          </div>
          <app-button label="Pesquisar" icon="fas fa-search" iconPosition="right"
            [classes]="['filtro__group__button','botao--padrao', 'botao--grande']">
          </app-button>
        </form>
    </p-fieldset>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="despesas" #tabela responsive="true" [paginator]="true" [rows]="2">
        <ng-template pTemplate="header">
          <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Valor</th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-despesa>
          <tr>
            <td>
              <span class="ui-column-title">Data</span>
              {{despesa.dataRealizada | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              <span class="ui-column-title">Descrição</span>
              {{despesa.descricao}}
            </td>
            <td>
              <span class="ui-column-title">Categoria</span>
              {{despesa.categoria}}
            </td>
            <td>
              <span class="ui-column-title">Valor</span>
              {{despesa.valor | currency: 'BRL' : 'symbol'}}
            </td>
            <td>
              <div class="operacoes">
                <button type="button" class="operacoes__button operacoes__button--edit">
                  <fa-icon [icon]="['fas', 'edit']" size="lg" [fixedWidth]="true"></fa-icon>
                </button>
                <button type="button" class="operacoes__button operacoes__button--delete">
                  <fa-icon [icon]="['fas', 'trash']" size="lg" [fixedWidth]="true"></fa-icon>
                </button>
              </div>

            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma Despesa encontrada!<br />
              Clique AQUI para cadastrar.
              <!-- TODO: LINK para rota de cadastro -->
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
