<!--

<app-categoria-despesa-pesquisa></app-categoria-despesa-pesquisa>

<app-odontograma></app-odontograma>
<app-odonto></app-odonto>


<app-categoria-despesa-cadastro></app-categoria-despesa-cadastro>
-->

<div class="container">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <p-toast key="toast-desktop" position="top-right"></p-toast>
  <p-toast key="toast-mobile" position="top-center"></p-toast>

  <!-- TODO: Implementar após a finalização do app-toast-link

  <p-toast key="toast-desktop-link" position="top-right">
    <ng-template pTemplate="message">
      <app-toast-link></app-toast-link>
    </ng-template>
  </p-toast>
  <p-toast key="toast-mobile-link" position="top-center"></p-toast>

   -->

</div>
