<header>
  <h1>Testando a exibição de informações do odontograma.</h1>
</header>

<div class="content">
  <div class="grid-container">
    <div class="dente-top" (click)="mostrarInfo()" [ngClass]="select()">
      <img src="../../assets/images/dentes/18a.png" alt="">
      <p>18</p>

      <div class="info" [hidden]="mostrar">
        <div class="container-info">
          <div class="titulo">
            <span>Dente 18</span>
            <span>x</span>
          </div>
          <div class="tratamento">
            <span>Tratamentos em andamento:</span>
          </div>
          <div class="tratamento-item">
            <span>- Ajuste Oclusal</span>
            <span>- Selamento</span>
          </div>
          <div class="tratamento-link">
            <a href="">Ver procedimentos</a>
          </div>
        </div>
      </div>

    </div>

    <div class="dente-top">
      <img src="../../assets/images/dentes/17.png" alt="">
      <p>17</p>
    </div>
    <div class="dente-top">
      <img src="../../assets/images/dentes/16.png" alt="">
      <p>16</p>
    </div>
    <div class="dente-top">
      <img src="../../assets/images/dentes/15.png" alt="">
      <p>15</p>
    </div>
    <div class="dente-top">
      <img src="../../assets/images/dentes/14.png" alt="">
      <p>14</p>
    </div>
    <div class="dente-top">
      <img src="../../assets/images/dentes/13.png" alt="">
      <p>13</p>
    </div>
    <div class="dente-top">
      <img src="../../assets/images/dentes/12.png" alt="">
      <p>12</p>
    </div>
    <div class="dente-top">
      <img src="../../assets/images/dentes/11.png" alt="">
      <p>11</p>
    </div>
    <div class="dente-top">
      <img src="../../assets/images/dentes/21.png" alt="">
      <p>21</p>
    </div>
    <div class="dente-top">
      <img src="../../assets/images/dentes/22.png" alt="">
      <p>22</p>
    </div>
    <div class="dente-top">
      <img src="../../assets/images/dentes/23.png" alt="">
      <p>23</p>
    </div>
    <div class="dente-top">
      <img src="../../assets/images/dentes/24.png" alt="">
      <p>24</p>
    </div>
    <div class="dente-top">
      <img src="../../assets/images/dentes/25.png" alt="">
      <p>25</p>
    </div>
    <div class="dente-top">
      <img src="../../assets/images/dentes/26.png" alt="">
      <p>26</p>
    </div>
    <div class="dente-top">
      <img src="../../assets/images/dentes/27.png" alt="">
      <p>27</p>
    </div>
    <div class="dente-top">
      <img src="../../assets/images/dentes/28.png" alt="">
      <p>28</p>
    </div>
    <div class="dente">
      <p>48</p>
      <img src="../../assets/images/dentes/48.png" alt="">
    </div>
    <div class="dente">
      <p>47</p>
      <img src="../../assets/images/dentes/47.png" alt="">
    </div>
    <div class="dente">
      <p>46</p>
      <img src="../../assets/images/dentes/46.png" alt="">
    </div>
    <div class="dente">
      <p>45</p>
      <img src="../../assets/images/dentes/45.png" alt="">
    </div>
    <div class="dente">
      <p>44</p>
      <img src="../../assets/images/dentes/44.png" alt="">
    </div>
    <div class="dente" (click)="mostrarInfo2()" [ngClass]="selectd()" >
      <p>43</p>
      <img src="../../assets/images/dentes/43f.png" alt="">

      <div class="info" [hidden]="mostrar2">
        <div class="container-info">
          <div class="titulo">
            <span>Dente 43</span>
            <span>x</span>
          </div>
          <div class="tratamento-finalizado">
            <span>Tratamentos em finalizados:</span>
          </div>
          <div class="tratamento-item">
            <span>- Ajuste Oclusal</span>
            <span>- Selamento</span>
          </div>
          <div class="tratamento-link">
            <a href="">Ver procedimentos</a>
          </div>
        </div>
      </div>

    </div>
    <div class="dente">
      <p>42</p>
      <img src="../../assets/images/dentes/42.png" alt="">
    </div>
    <div class="dente">
      <p>41</p>
      <img src="../../assets/images/dentes/41.png" alt="">
    </div>
    <div class="dente">
      <p>31</p>
      <img src="../../assets/images/dentes/31.png" alt="">
    </div>
    <div class="dente">
      <p>32</p>
      <img src="../../assets/images/dentes/32.png" alt="">
    </div>
    <div class="dente">
      <p>33</p>
      <img src="../../assets/images/dentes/33.png" alt="">
    </div>
    <div class="dente">
      <p>34</p>
      <img src="../../assets/images/dentes/34.png" alt="">
    </div>
    <div class="dente">
      <p>35</p>
      <img src="../../assets/images/dentes/35.png" alt="">
    </div>
    <div class="dente">
      <p>36</p>
      <img src="../../assets/images/dentes/36.png" alt="">
    </div>
    <div class="dente">
      <p>37</p>
      <img src="../../assets/images/dentes/37.png" alt="">
    </div>
    <div class="dente">
      <p>38</p>
      <img src="../../assets/images/dentes/38.png" alt="">
    </div>
  </div>

  <div class="status">
    <div class="status-empty">
      <div class="empty-square"></div>
      <span class="empty-name">Sem tratamentos</span>
    </div>
    <div class="status-andamento">
      <div class="andamento-square"></div>
      <span class="andamento-name">Em andamento</span>
    </div>
    <div class="status-finalizado">
      <div class="finalizado-square"></div>
      <span class="finalizado-name">Finalizado</span>
    </div>
  </div>
</div>
