@import "../cores";

%label {
  color: #686b6d;
  font-size: medium;
}

%hint {
  color: #888888;
  font-size: small;
  font-weight: lighter;
}

%input {
  color: #535353;
  border: 1px solid #bebebe;
  border-radius: 3px;
  padding: 6px;
  height: 32.8px;

  &:hover {
    border-color: #8d8d8d;
  }
  &:focus {
    border-color: #3c8dbc;
  }
}

%input-padding-right {
  padding: 0 5px 5px 0;
}

%input-padding-left {
  padding: 0 0 5px 5px;
}

%input-padding-both {
  padding: 0 5px 5px 5px;
}
