.form {
  padding: 10px;
}

.i-container__input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: none;
}

.float-button {
  position: fixed;
  float: bottom;
  bottom: 25px;
  right: 10px;
  z-index: 100;
}

@media screen and (min-width: 56.25em) {
  .float-button {
    left: 90px;
  }

  .form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
