
@import '../../../assets/scss/cores';
.grid-container {
  margin: 10px 10px 10px 0;
  display: grid;
  grid-template-columns: repeat(16, minmax(min-content, 10px));
  grid-template-rows: max-content;
  grid-gap: 15px 5px;
  color: $titles;
  font-size: 12px;
}

.grid-container p {
  text-align: center;
  margin: 0;
}

.dente:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(216, 216, 216, 0.253);
  cursor: pointer;
}

.active{
  background-color: rgba(58, 248, 89, 0.253);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgb(20, 94, 33);
}

img{
  width: 25px;
}
