<div class="content">
  <app-default-header titulo="Pacientes" buttonId="add-paciente" buttonText="Adicionar Paciente"
    (botaoClicado)="criarPaciente()">
  </app-default-header>

  <form novalidate class="filtro" (ngSubmit)="filtrar()" [formGroup]="formularioDoFiltro">
    <div class="filtro__group">
      <div class="filtro__group__search">
        <input class="filtro__group__search__input" id="nome-paciente" type="text"
          placeholder="Pesquise pelo Nome ou CPF do Paciente" formControlName="filtro" (keyup)="filtrar()" />
        <div class="filtro__group__search__button">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
  </form>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="pacientes" #tabela responsive="true" [paginator]="true" [rows]="20">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>CPF/CNPJ</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-paciente>
          <tr>
            <td>
              <span class="ui-column-title">Nome</span>
              {{ paciente.nome }}
            </td>
            <td>
              <span class="ui-column-title">CPF/CNPJ</span>
              {{ paciente.cPF | cpf }}
            </td>
            <td>
              <span class="ui-column-title">Telefone</span>
              {{ paciente.telefone | telefone}}
            </td>
            <td>
              <span class="ui-column-title">E-mail</span>
              {{ paciente.email }}
            </td>
            <td>
              <div class="operacoes">
                <button type="button" class="operacoes__button operacoes__button--search" pTooltip="Visualisar"
                  tooltipPosition="top" [routerLink]="['/pacientes', paciente.codigo]" >
                  <fa-icon [icon]="['fas', 'search']" size="lg" [fixedWidth]="true"></fa-icon>
                </button>
                <button type="button" class="operacoes__button operacoes__button--calendar" pTooltip="Agendar"
                  tooltipPosition="top" (click)="agendar()">
                  <fa-icon [icon]="['fas', 'calendar-day']" size="lg" [fixedWidth]="true"></fa-icon>
                </button>
                <button type="button" class="operacoes__button operacoes__button--delete" pTooltip="Excluir"
                  tooltipPosition="top" (click)="confirmarExclusao(paciente)">
                  <fa-icon [icon]="['fas', 'trash']" size="lg" [fixedWidth]="true"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhum Paciente encontrado!<br />
              Clique <a [routerLink]="['/pacientes/novo']">AQUI</a> para cadastrar.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-confirmDialog #confirmDialog header="Confirmar exclusão" icon="pi pi-exclamation-triangle">
    <p-footer>
      <app-button label="Excluir" icon="fas fa-trash" iconPosition="right" (botaoClicado)="[confirmDialog.accept()]"
        [classes]="['botao--success']">
      </app-button>

      <app-button label="Cancelar" icon="fas fa-times" iconPosition="right" (botaoClicado)="[confirmDialog.reject()]"
        [classes]="['ui-button-secondary']">
      </app-button>
    </p-footer>
  </p-confirmDialog>
