<div class="content" [@linha]="activeTab">
  <app-default-header titulo="Consultas Agendadas" buttonId="add-consulta" buttonText="Agendar"
    (botaoClicado)="agendarConsulta()">
  </app-default-header>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="consultas?.agendamentos" #tabela responsive="true" [paginator]="true" [rows]="20">
        <ng-template pTemplate="header">
          <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Procedimento</th>
            <!-- TODO: DENTISTA E FUNCIONÁRIO
            <th>Dentista</th>
            <th>Agendado por</th>
            -->
            <th>Status</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-consulta>
          <tr>
            <td>
              <span class="ui-column-title">Data</span>
              {{ consulta.dataAgendamento | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              <span class="ui-column-title">Hora</span>
              {{ consulta.horaInicio }}
            </td>
            <td>
              <span class="ui-column-title">Procedimento</span>
              {{ consulta.nomeProcedimento }}
            </td>
            <!-- TODO: DENTISTA E FUNCIONÁRIO
            <td>
              <span class="ui-column-title">Dentista</span>
              {{ "Nome Dentista" }}
            </td>
            <td>
              <span class="ui-column-title">Agendado por</span>
              {{ "Funcionário" }}
            </td>
            -->
            <td>
              <span class="ui-column-title">Status</span>
              <!-- TODO: ESTILIZAR BADGE -->
              <span>{{ consulta.statusAgendamento }}</span>
            </td>
            <td>
              <div class="operacoes">

                <button type="button" class="operacoes__button operacoes__button--calendar" pTooltip="Agendar"
                  tooltipPosition="top" (click)="alterarAgendamento()">
                  <fa-icon [icon]="['fas', 'fa-calendar-alt']" size="lg" [fixedWidth]="true"></fa-icon>
                </button>

                <button type="button" class="operacoes__button operacoes__button--delete"
                  (click)="confirmarExclusao(consulta)" pTooltip="Excluir" tooltipPosition="top">
                  <fa-icon [icon]="['fas', 'trash']" size="lg" [fixedWidth]="true"></fa-icon>
                </button>

              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">
              Nenhuma Consulta marcada!<br />
              <!-- TODO: Criar routerLink de agendamento -->
              Clique <a [routerLink]="['/agendamentos/novo']">AQUI</a> para Agendar.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-confirmDialog #confirmDialog header="Confirmar exclusão" icon="pi pi-exclamation-triangle">
  <p-footer>
    <app-button label="Excluir" icon="fas fa-trash" iconPosition="right" (botaoClicado)="[confirmDialog.accept()]"
      [classes]="['botao--success']">
    </app-button>

    <app-button label="Cancelar" icon="fas fa-times" iconPosition="right" (botaoClicado)="[confirmDialog.reject()]"
      [classes]="['ui-button-secondary']">
    </app-button>
  </p-footer>
</p-confirmDialog>
