/* You can add global styles to this file, and also import other style files */

@import
"assets/scss/cores",
"assets/scss/reset",
"assets/scss/tools/placeholders",
"assets/scss/layout/content",
"assets/scss/layout/header",
"assets/scss/components/form-container",
"assets/scss/components/fieldset-filter-form",
"assets/scss/components/tables";
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';
body {
  margin: 0;
  font: 100%/1.4 "Roboto", sans-serif;
  background-color: $cor-fundo;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 140%;
}

h2 {
  font-size: 120%;
}

p {
  margin: 0.6em 0;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.input-group__label {
  @extend %label;
  margin-right: 10px;
}

.input-group__input-message{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.input-group__input {
  @extend %input;
}

.input-group__mensagem {
  line-height: 28px;
  font-size: 13px;
}

.input-group--margem-md-tb {
  margin: 15px 0 15px 0;
}

.input--error {
  border-color: #218838;
  box-shadow: none;
}

.input--success {
  border-color: $mensagem-erro;
  box-shadow: none;
}

.mensagem--erro {
  color: $mensagem-erro;
}

.mensagem--sucesso{
  color: $mensagem-sucesso;
}

.has-success input[type="text"] {
  border-color: $sucesso;
}

.has-error input[type="text"] {
  border-color: $erro;
}

div.fc-content{
  cursor:pointer;
}
